html{
        height: 100%;
        margin: 0;
        padding: 0;
    }
body {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
#menu{
    display: flex;
    flex: 0 1 70px;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid;
    border-color: black;
    background-color: rgb(196, 196, 196);
}
#Canvas{
    height: 100%;
}

#save{
    position: absolute;
    right: 0;
    bottom: 0;
}

.button{
    text-decoration: none;
    color: black;
    background-color: rgb(82, 147, 245);
    border-radius: 4px;
    border: 0px;
    margin: 10px;
    font-size: large;
    padding: 10px;
    cursor: pointer;
}
.button:hover{
    padding: 11px;
}
.button:active{
    background-color: rgb(61, 106, 173);
}
.slider {
  width: 100%;
  height: 25px;
}

.color-sel{
    width: 30px;
    height: 30px;
    border: 2px solid;
    margin: 5px;
    border-color: black;
    border-radius: 4px;
}

.black{
    background-color: black;
}
.white{
    background-color:white;
}
.cyan{
    background-color:cyan;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color:green;
}
.blue{
    background-color: blue;
}
.magenta{
    background-color: magenta;
}