html{
        height: 100%;
        margin: 0;
        padding: 0;
    }
body {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
#menu{
    display: flex;
    flex: 0 1 70px;
    align-items: center;
    border-bottom: 2px solid;
    border-color: rgb(83, 83, 90);
    background-color: rgb(56, 56, 68);
}
#Canvas{
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#space{
    height: 100%; 
    background-color: gray; 
    overflow: auto;
    position: relative;
    box-sizing: border-box;
}


#save{
    position: absolute;
    right: 0;
    bottom: 0;
}

.scrollbutton{
    border-radius: 8px;
    border: 2px solid rgb(189, 187, 187);;
    margin: 3px;
    padding: 4px;
    width: 40px;
    height: 40px;
    position: fixed;
    left: calc(100% - 45px);
    z-index: 30;
    opacity: 0.8;
    display: none;
}
.scrollbutton:active{
    filter: brightness(75%);
}

.icon{
    width: 40px;
    height: 40px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: relative;
}

@media (hover:none){
    #space{
        overflow: hidden;
    }
    .scrollbutton{
        display: block;
    }
}

.button{
    text-decoration: none;
    color: black;
    background-color: rgb(82, 147, 245);
    border-radius: 4px;
    border: 0px;
    margin: 10px;
    font-size: large;
    padding: 10px;
    cursor: pointer;
}
.button:hover{
    padding: 11px;
}
.button:active{
    filter: brightness(75%);
}
.slider {
  width: 100%;
  height: 25px;
}

.color-sel{
    height: 4.8vw;
    width: 4.8vw;
    max-width: 40px;
    max-height: 40px;
    aspect-ratio: 1;
    border: 2px solid;
    margin: 1px;
    border-color: black;
    border-radius: 4px;
    flex-wrap: wrap;
}

.black{
    background-color: black;
}
.white{
    background-color:white;
}
.cyan{
    background-color:cyan;
}
.red{
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.green{
    background-color:green;
}
.blue{
    background-color: blue;
}
.magenta{
    background-color: magenta;
}