html{
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: Arial, Helvetica, sans-serif;
    }
body {
        height: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
#menu{
    display: flex;
    flex: 0 1 70px;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid;
    border-color: rgb(255, 115, 0);
    background-color: rgb(240, 208, 103);
}

.button{
    border-radius: 4px;
    border: 0px;
    margin: 10px;
    padding: 6px;
}

.StartDrawingButton{
    border-radius: 30px;
    border: 0px;
    margin: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 50px;
    padding-right: 50px;
    font-size:x-large;
    font-weight: bolder;
    color: white;
    background: linear-gradient(135deg,rgba(255, 74, 168, 1) 0%, rgba(255, 79, 79, 1) 25%, rgba(113, 209, 138, 1) 56%, rgba(84, 235, 150, 1) 68%, rgba(42, 89, 199, 1) 85%, rgba(42, 89, 199, 1) 95%);
    background-size: 600%;
    box-shadow: 5px 5px 0px 2px rgba(11, 9, 24, 0.527);
    animation: button 30s infinite alternate;
}
.StartDrawingButton:hover{
    cursor:pointer;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-left: 52px;
    padding-right: 52px;
}
.StartDrawingButton:active{
    background: fixed rgb(112, 46, 44);
    box-shadow: 1px 1px 0px 2px rgba(11, 9, 24, 0.527);
    transform: translate(4px,4px);
}
 @keyframes button
 {
   0%
   {
     background-position: 0% 50%
   }
   50%
   {
     background-position: 100% 50%
   }
   100%
   {
     background-position: 0% 50%
   }
 }
.textform{
    border-radius: 2px;
}

.backdrop{
    position: fixed;
    background-color: rgba(0, 0, 0, 0.596);
    width: 100%;
    height: 100%;
}

.inputform{
    border-radius: 8px;
    background-color: rgb(215, 218, 226);
    position: fixed;
    width: fit-content;
    height: fit-content;
    top: 40%;
    left: 50%;
    border: 1px solid rgb(204, 204, 204);
    transform: translate(-50%, -50%);
}

.inputdiv{
    position: relative;
    width: 100%; 
    height: fit-content;
    background-color: rgb(153, 146, 146);
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 10px;
    box-sizing: border-box;
}
    .inputdiv::after{
        content: '';
        position: absolute;
        margin: auto;
        right: 0;
        bottom: 0;
        left: 0;
        width: 95%;
        height: 1px;
        background-color: #000;
    }